KEEPA_API_KEY=KEEPA_API_KEY

POSTGRES__USER='user'
POSTGRES__PASSWORD='password'
POSTGRES__HOST=localhost
POSTGRES__PORT=5432
POSTGRES__DB='db'

MONGO__USER='user'
MONGO__PASSWORD='password'
MONGO__PORT=27017
MONGO__HOST=localhost
MONGO__DB='db'
MONGO_DSN="mongodb://${MONGO__USER}:${MONGO__PASSWORD}@${MONGO__HOST}:${MONGO__PORT}/${MONGO__DB}"
POSTGRES_DSN="postgresql://${POSTGRES__USER}:${POSTGRES__PASSWORD}@${POSTGRES__HOST}:${POSTGRES__PORT}/${POSTGRES__DB}"
